<template>
  <div>
    This is a post!
  </div>
</template>

<script>
export default {
  name: 'Post',

  data () {
    return {
    }
  },

  created: function () {
    console.log('his')
  }
}
</script>

<style scoped lang="scss">

</style>
